/* .red:hover {
    color: red;
}

.random:nth-child(2n) {
    background-color: yellow;
}

.vh {
    visibility: hidden;
}

.dn {
    display: none;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: -1;
}

.mm {
    border-bottom: 10px solid red;
} */

.sample {
    width: 150px;
    height: 200px;
    border: 10px solid black;
}

.sample1 {
    margin-top: -220px;
}