.text {
    margin-left: 10px;
}
.greenDiv {
    height: 20px;
    width: 20px;
    background-color: aquamarine;
}

.orangeDiv {
    height: 20px;
    width: 20px;
    background-color: rgb(199, 174, 61);
}