
$fonty: "Comic sans";
$my-font-size: 20px;
$darktheme-background-color: black;
$darktheme-color: #27d545;
$lighttheme-color: black;
$lighttheme-background-color: white; 

@mixin darktheme {
    background-color: $darktheme-background-color;
    color: $darktheme-color;
    font-size: $my-font-size;
    font-family: 'Times New Roman', Times, serif;
}

@mixin lighttheme {
    background-color: $lighttheme-background-color;
    color: $lighttheme-color;
    font-size: $my-font-size;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.darktheme {
    @include darktheme;
    height: 300px;
    width: 300px;
}

.lighttheme {
    @include lighttheme;
    height: 300px;
    width: 300px;
    background-color: lightgoldenrodyellow;
}

.toolip:hover {
    color: burlywood;
}